.card{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 540px;
    padding: 30px 20px;
    align-items: center;
    box-shadow: 4px 0  10px rgba(205, 205, 205, 0.293);
    color:rgb(20, 20, 20);
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    text-align: center;
}
.card p{
    margin: 6px 0px;
    opacity: 80%;
}
.card h2 {
    text-transform: uppercase;
}

    

.card-prices{
    display: flex;
    gap: 20px;
    opacity: 60%;
}
.card img:hover{
    transform: scale(1.08);
    transition: 0.5s;
}

.card:hover{
    box-shadow: 10px 10px 50px 10px rgba(207, 81, 224, 0.29);
}
.image{
    height: 450px;
    
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
    body{
        margin: 0;
        gap: 0;
    }
   .card{
        margin: 0;
        max-width: 240px;
        max-height: 300px;
        font-size: 10px;
    }
    .price{
        font-size: 16px;
    }

    .image{
        max-height: 200px;
        max-width: 160px;       
    }
    .card h2{
        margin-top: 40px;
        text-transform: uppercase;
    }
   
  }