.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.483);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.495); */
    
    padding: 0 20px 0 20px;
    z-index: 1;
  }
  .navbar {
    display: flex;
    gap: 30px;
  }
  .navbar-link {
    align-self: center;
    font-size: 16px;
    font-weight: 800;
    
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  
    
  }
  .navbar-link::after {
    color: violet;
  }
  #cart {
    height: 3rem;
  }
  #logo {
    height: 7rem;
  }
  #cart{
    height: 6rem;
  }
  
  .active {
    color: rgb(139, 10, 159);
}

  @media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    
    .header-container{
      width: 92%;
    }
    #logo{
      max-height: 50px;
    }
    .navbar{
      gap: 4px;
    }
    .navbar-link{
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
    #cart{
      max-height: 50px;
    }
  }