/* @import 'bootstrap/dist/css/bootstrap.css'; */
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Oswald&family=VT323&display=swap');

body{
font-family: Arial Black, "Arial Bold", "Arial-BoldMT", Gadget, sans-serif;
margin: 0;
padding: 0;
font-size: 16px;

}

