.new{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    height: 500px;
    width: 100%;
   
    
 
}
.new h1{
    color: rgba(0, 0, 0, 0.883);
    font-weight: 800;
    font-size: 50px;
}
.new-items{
    margin-top: 10px;
    display: flex;
    gap: 30px;
    height: 40px;
    
}
hr{
    background: black;
    height: 1px;
    width: 100%;
    margin-bottom: 40px;
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
     
    .new{
        
        display: flex;
        gap: 5px;
        height: 400px;
        overflow: scroll;
     
    }
    .new h1{
        font-size: 20px;
    }
    .new-items{
        margin-top: 10px;
        display: flex;
        gap: 10px;
        height: 40px;
        
    }
    hr{
        display: none;
    }
  }